body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}

p
{
    text-align: center;    
}
h1
{
    background-color: lightblue;
    text-align: center;
    border: blue 2px solid;
    padding: 10px;
}

h2
{
    color: white;
    text-align: center;
    font-style: italic;
    
}

ul
{
    list-style: none;
    text-align: center;
}

li
{
    display: inline-block;
    border: 2px solid orangered;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    background-color: white;

}

a
{
    color:orangered
}